<ion-view view-title="Event Schedule" hide-back-button="true" cache-view="false">
  
    <ion-content class="content-schedule">
        <div class="bar bar-header item-input-inset search-schedule search-mcl">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>  
     
        <ion-list ng-repeat="(key, value) in scheduleList | groupBy: 'date'" class="list-custom list-schedule">
            <div class="item item-divider">{{ key }}</div>
            <ion-item ng-repeat="schedule in value" data-toggle="collapse" data-target="#schedule{{ schedule.id }}" ng-class="{pinkBorder : schedule.fav}" nav-clear>
                <div class="row">
                    <div class="col-xs-3 list-item-left">
                        {{ schedule.startTime }}<br />{{ schedule.endTime }}
                    </div>
                    <div class="col-xs-9">
                        <strong>{{ schedule.title }}</strong><br />
                        {{ schedule.subtitle }}
                    </div>
                </div>
                <div class="collapse" id="schedule{{ schedule.id }}">
                    <div class="row">
                        <div class="col-xs-3 list-item-icons">
                            <br />
                            <i ng-click="setFav({{ schedule }})" class="icon ion-android-favorite-outline" ng-class="{pink : schedule.fav}"></i>
                        </div>
                        <div class="col-xs-9">
                            <br />
                            <span ng-bind-html="schedule.info"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
           
        </ion-list>
          
        
     
  </ion-content>
</ion-view>
